<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">logo</a>
  </div>
  <div fxFlex fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigations-item">
      <li class="navigation-items" *ngIf="!(isAuth | async)">
        <a routerLink="/signup">signup</a>
      </li>
      <li class="navigation-items" *ngIf="!(isAuth | async)">
        <a routerLink="/signin">login</a>
      </li>
      <li class="navigation-items" *ngIf="isAuth | async">
        <a routerLink="/training">training</a>
      </li>
      <li class="navigation-items" *ngIf="isAuth | async">
        <a routerLink="/" (click)="onLogout()">logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
