<section>
  <form fxLayout="column" fxLayoutAlign="center center" #form="ngForm" (submit)="onSubmit(form)"
        fxLayoutGap="10px">
    <mat-form-field>
      <input type="email"
             matInput
             placeholder="Your email"
             ngModel
             name="email"
             email
             required
             #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Email must not be null</mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">Email format invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should have at least 6 characters long">
      <input type="password"
             matInput
             placeholder="Your password"
             ngModel
             name="password"
             required
             minlength="6"
             #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.hasError('required')">Password must not be null</mat-error>
      <mat-hint align="end">{{passwordInput.value?.length}} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input ngModel name="birthday"
             matInput placeholder="Your Birthday" [matDatepicker]="picker" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" color="primary" required>Agree to terms and conditions
    </mat-checkbox>
    <button *ngIf="!(isLoading$ | async)" [disabled]="!form.valid" type="submit" mat-raised-button color="primary">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
