.mat-sidenav-container {
  height: 100%;

  .mat-sidenav-content {
    height: 100%;
  }

  .mat-sidenav {
    height: 100%;
    width: 250px;

    .nav-caption {
      padding-left: 6px;
    }
  }

}
